# Minecraft
local/
saves/
mods/
logs/
crash-reports/
backups/
resourcepacks/
server-resource-packs/
screenshots/
downloads/
modernfix/
fancymenu_data/
ESM/
.fabric/
dynamic-resource-pack-cache/
frozenlib/
moddata/
moonlight-global-datapacks/
shaderpacks/
texturepacks/
vinurl/
xaero/
data/
!config/yosbr/
config/

icon.png
./options.txt
rhino.local.properties
usercache.json
usernamecache.json
emi.json

# Pakku
build/
!.pakku/
!pakku.jar
!pakku.json
!pakku-lock.json

# VSCode
!/.vscode/*.code-workspace
/.vscode/*

# -----------------
# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride