# ==========================================
# Operating Systems
# ==========================================

# macOS
.AppleDouble
.DS_Store
.LSOverride

# Windows
*.lnk
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# Linux
*~
.directory
.fuse_hidden*
.Trash-*


# ==========================================
# Tools
# ==========================================

# VSCode
/.vscode/*
!/.vscode/*.code-workspace

# Pakku
build/
!.pakku/
!pakku.jar
!pakku.json
!pakku-lock.json
dev-server/


# ==========================================
# Minecraft
# ==========================================

/options.txt
emi.json
rhino.local.properties
command_history.txt
servers.dat
servers.dat_old


# ==========================================
# Minecraft Directories
# ==========================================

backups/
crash-reports/
local/
logs/
mods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/


# ==========================================
# Mod Data & Configs
# ==========================================

# Ignore all configs except yosbr
/config/

# Mod-specific folders and caches
.fabric/
ESM/
fancymenu_data/
moddata/
modernfix/
vinurl/
xaero/
Distant_Horizons_server_data/
XaeroWaypoints_BACKUP*/


# ==========================================
# Caches
# ==========================================

data/
downloads/
dynamic-resource-pack-cache/
dynamic-data-pack-cache/
frozenlib/
moonlight-global-datapacks/
.mixin.out/
usercache.json
usernamecache.json
