**/*.log
**/*.gz
**/*.DS_Store
**/*.jar
**/*.mrpack
**/*.code-workspace
**/*.zip

.vs/
.vscode/
.idea/
package.json
package.g.props
package-lock.json
node_modules/

build/
!.pakku/**/*
!pakku.jar

/.mixin.out/
/classOut
/backups
/crash-reports
/logs
/saves
/modernfix
/XaeroWaypoints*
/XaeroWorldMap*
/xaero
/cache
/screenshots
/shaderpacks
/data

.curseclient
.sl_password
options.txt
patchouli_data.json
usernamecache.json
usercache.json
rhino.local.properties
profile.json
emi.json
sl_password.txt
servers.dat
servers.dat_old
cherishedworlds-favorites.dat
realms_persistence.json
minecraftinstance.json
knownkeys.txt
optionsof.txt
optionsshaders.txt
icon.png

